<template name = "cb">

	<div class="caleb-bg">

		<h2>FUELED</h2>
		<div class = "textdiv">
			<h2 class = "storytext">Fueled by the excitement of war, you have the urge to reap the fruits of others' despair. Aaron will be off to school in no time. With father’s recent financial disaster, it’s going to be tough to fund Aaron’s education. Should you take advantage of the less fortunate?</h2>
		</div>

		<div class="btn-bg bg-6">
			<div class="btn btn-6">
				<button><a href="/cba">Definitely!</a></button>
				<button><a href="/cbb">Don't do it</a></button>
			</div>
		</div>
	</div>

</template>