<template name = "cba">

	<div class="caleb-bg">

		<h2>WILL HAMILTON</h2>
		<div class = "textdiv">
			<h2 class = "storytext">You decide to stop by Will Hamilton's. Maybe you could start harvesting crops and selling them to areas with depleted resources? You set your mind on farming, but Will tells you, "Farmers don't make any money. It's the man who buys from him and sells" (478). Should you keep listening? </h2>
		</div>

		<div class="btn-bg bg-6">
			<div class="btn btn-6">
				<button><a href="/cbaa">Leave 'em...</a></button>
				<button><a href="/cbab">Listen on...</a></button>
			</div>
		</div>
	</div>

</template>