<template name = "cbaa">

	<div class="caleb-bg">

		<h2>BIG MISTAKE</h2>
		<div class = "textdiv">
			<h2 class = "storytext">With your mind set on farming, you begin to take the steps necessary to harvest crops. After months of work, you decide to look for someone to sell your crops to. Everyone you meet tries to take advantage of you, as they buy crops for cheap from local farmers and sell them to clients overseas for massive profits. With all of your family's money poured into another failed venture you realize that you've made a big mistake - Will Hamilton was right.</h2>
		</div>

		<div class="btn-bg bg-6">
			<div class="btn btn-6">
				<button><a href="/">Try again...</a></button>
			</div>
		</div>
	</div>

</template>