<template name = "cbaba">

	<div class="caleb-bg">

		<h2>THE GIFT</h2>
		<div class = "textdiv">
			<h2 class = "storytext">Partnering up with Will Hamilton turned out to be quite lucrative. With Thanksgiving around the corner, you feel the need to give your father a gift - $15,000. When the time comes to give him his gift, you feel a little nervous. Should you give him the money?</h2>
		</div>

		<div class="btn-bg bg-6">
			<div class="btn btn-6">
				<button><a href="/cbabaa">Of course!</a></button>
				<button><a href="/cbabab">Maybe not.</a></button>
			</div>
		</div>
	</div>

</template>