<template name = "cbab">

	<div class="caleb-bg">

		<h2>DEAL OR NO DEAL</h2>
		<div class = "textdiv">
			<h2 class = "storytext">"You don't want to farm. You're too smart. Your father's tenant is named Rantani. He's a Swiss Italian, a good farmer... If we guarantee him five cents a pound and give him a seed loan, he'll plant beans... I have a contact with the British Purchasing Agency. And I have a friend in the Quartermasters Corps. I bet we can sell all the dried beans we can find at ten cents a pound or more" (482-483). Is it a deal? </h2>
		</div>

		<div class="btn-bg bg-6">
			<div class="btn btn-6">
				<button><a href="/cbaba">No kidding</a></button>
				<button><a href="/cbabb">Yeah right</a></button>
			</div>
		</div>
	</div>

</template>