<template name = "cbabaaa">

	<div class="caleb-bg">

		<h2><em>TIMSHEL</em></h2>
		<div class = "textdiv">
			<h2 class = "storytext">"There is no need to be sorry my son. We all make mistakes. Though even when it feels like there are no other options, you must realize that you have a choice - to either do what is right or do what is wrong. I once thought that people are born out of a mold - destined to be good or bad - until Lee showed me that isn't the case. It turns out that in the Book of Genesis, there is a word, <em>timshel</em>, that many think means 'thou shalt.' But <em>timshel</em> really means 'thou mayest.' Thou mayest overcome sin."</h2>
		</div>

		<div class="btn-bg bg-6">
			<div class="btn btn-6">
				<button><a href="/">OVERCOME...</a></button>
			</div>
		</div>
	</div>

</template>