<template name = "aa">

	<div class="aaron-bg">

		<h2>PRINCIPAL</h2>
		<div class = "textdiv">
			<h2 class = "storytext">You go to meet with your principal to discuss skipping a year. He's impressed by your ambition. While he's initially reluctant to allow you to skip a year, he realizes your financial situation and decides to make accomodations. He talks to you about courses and exams you will have to take. You begin to drift off and think about a big decision that's on your mind...</h2>
		</div>

		<div class="btn-bg bg-1">
			<div class="btn btn-1">
				<button><a href="/aaa">Ministry</a></button>
				<button><a href="/aab">College</a></button>
			</div>
		</div>
	</div>

</template>