<template name = "aab">

	<div class="aaron-bg">

		<h2>COLLEGE</h2>
		<div class = "textdiv">
			<h2 class = "storytext">You decide to take up your principal on his offer. You begin to study harder than you have ever studied before in your life. Your examinations are eventually upon you - you passed them with honors. A little school known as Stanford would like you to join them in the fall. You think about the offer and remember Abra. The more you think about Stanford, the further you are pulled away from the love of your life. What will you follow?</h2>
		</div>

		<div class="btn-bg bg-1">
			<div class="btn btn-1">
				<button><a href="/aaba">Brain</a></button>
				<button><a href="/aabb">Heart</a></button>
			</div>
		</div>
	</div>

</template>