<template name = "aabaaaaa">

	<div class="aaron-bg">

		<h2><em>TIMSHEL</em></h2>
		<div class = "textdiv">
			<h2 class = "storytext">"I can't say that I'm not disappointed. You've made me very proud. While I have always thought that college is the best option for you, I cannot let you be defined by a preconceived mold. The decision is yours to make... I once thought that people are born out of a mold - destined to follow one path - until Lee showed me that isn't the case. It turns out that in the Book of Genesis, there is a word, <em>timshel</em>, that many think means 'thou shalt.' But <em>timshel</em> really means 'thou mayest.' Thou mayest overcome sin. You will always have a choice my son, and I do not have the right to take that from you."</h2>
		</div>

		<div class="btn-bg bg-1">
			<div class="btn btn-1">
				<button><a href="/">Make a choice</a></button>
			</div>
		</div>
	</div>

</template>