<template name = "aabaaab">

	<div class="aaron-bg">

		<h2>NOTHING</h2>
		<div class = "textdiv">
			<h2 class = "storytext">Guilty about your own decision, you realize its greater implications.<br>It will only become more difficult to tell your father the truth.<br>Abra had once suggested that you live on the ranch together.<br>The idea intrigues you, and you realize you may never go back to Stanford.</h2>
		</div>

		<div class="btn-bg bg-1">
			<div class="btn btn-1">
				<button><a href="/">LIVE ON</a></button>
			</div>
		</div>
	</div>

</template>