<template name = "aabaa">

	<div class="aaron-bg">

		<h2>FALL</h2>
		<div class = "textdiv">
			<h2 class = "storytext">Fall quickly progresses in Palo Alto. Life at Stanford is not as you thought it would be. As the nights get colder, you count down the days until you leave to visit your family. You've become nauseatingly homesick, refraining from any social activities with your peers. Shortly the time arrives...</h2>
		</div>

		<div class="btn-bg bg-1">
			<div class="btn btn-1">
				<button><a href="/aabaaa">Go Home</a></button>
			</div>
		</div>
	</div>

</template>