<template name = "aabaaa">

	<div class="aaron-bg">

		<h2>BACK HOME</h2>
		<div class = "textdiv">
			<h2 class = "storytext">You're relieved to be back home, but your father can't stop bragging about your time at Stanford. It's getting to you. You don't want to hurt his feelings by telling the truth. What should you do?</h2>
		</div>

		<div class="btn-bg bg-1">
			<div class="btn btn-1">
				<button><a href="/aabaaaa">Something</a></button>
				<button><a href="/aabaaab">Nothing</a></button>
			</div>
		</div>
	</div>

</template>