<template name = "aaron">

	<div class="aaron-bg">

		<h2>WALK TO SCHOOL</h2>
		<div class = "textdiv">
			<h2 class = "storytext">As you walk to school, your brother turns to you. "You've got this year to finish and next before you can go to college... If you worked hard, maybe you could take entrance examinations next summer and go in the fall... If you knuckle down and pass the examinations a year early, why, I'll help you through college" (476).</h2>
		</div>

		<div class="btn-bg bg-1">
			<div class="btn btn-1">
				<button><a href="/aa">Thank you</a></button>
			</div>
		</div>
	</div>

</template>