<template name = "cbabaa">

	<div class="caleb-bg">

		<h2>FAVORITISM</h2>
		<div class = "textdiv">
			<h2 class = "storytext">Maybe it wasn't a good idea. Your father sits in awe and responds to you, "You'll have to give it back... To the people you got it from... I would have been so happy if you could have given me - well, what your brother has - pride in the thing he's doing , gladness in his progress" (543-544). </h2>
		</div>

		<div class="btn-bg bg-6">
			<div class="btn btn-6">
				<button><a href="/cbabaaa">I'm sorry...</a></button>
				<button><a href="/">Storm out.</a></button>
			</div>
		</div>
	</div>

</template>